:root {
  --ligthBackgroundColor: #f8f8f8;
  --ligthContainerColor: #ffffff;
  --ligthItemColor: #f3f4f6;
  --colorText: #0472d1;
  --gradientStart: #0360b7;
  --gradientEnd: #0feab4;
}

.main {
  height: 100%;
  width: 100%;
  background-color: var(--ligthBackgroundColor);
	font-size: clamp(1rem, 2.5vw, 3rem);
	overflow: hidden;
}

.gradient {
  background: -webkit-linear-gradient(var(--gradientStart), var(--gradientEnd));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.shadow {
  -webkit-box-shadow: -1px 4px 8px 5px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: -1px 4px 8px 5px rgba(0, 0, 0, 0.33);
  box-shadow: -1px 4px 8px 5px rgba(0, 0, 0, 0.33);
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100%;
  max-width: 90%;
  align-items: center;
  justify-content: center;
  background-color: var(--ligthContainerColor);
}

.input {
	font-size: 1em;
	border-radius: 10px;
	padding: 10px 25px;
	outline: none;
	border: none;
	background-color: var(--ligthItemColor);
	transition: 0.3s all;
}

.input:focus,
input:hover {
	padding: 12px;
	-webkit-box-shadow: -1px 10px 9px 0px rgba(3, 96, 183, 0.28);
	-moz-box-shadow: -1px 10px 9px 0px rgba(3, 96, 183, 0.28);
	box-shadow: -1px 10px 9px 0px rgba(3, 96, 183, 0.28);
}

.main__content {
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5px;
}

.main__content > * {
	width: 100%;
}

.main__title {
	font-size: 2.5em;
	text-align: center;
}

.content__item {
	margin: 20px;
	position: relative;
	display: flex;
	flex-wrap: wrap;
}

.content__item > *{
	width: 50%;
}

#selectPay{
	border-radius: 10px 10px 0px 0px;
}

.select {
	border-radius: 0px 0px 10px 10px;
	top: 0;
	right: -1000px;
	max-height: 350px;
	position: absolute;
	padding: 10px;
	background-color: var(--ligthItemColor);
	z-index: 3;
	transition: 1.5s all;
	overflow-y: scroll;
	scrollbar-width: none;
	-webkit-box-shadow: -1px 10px 9px 0px rgba(3, 96, 183, 0.28);
		-moz-box-shadow: -1px 10px 9px 0px rgba(3, 96, 183, 0.28);
		box-shadow: -1px 10px 9px 0px rgba(3, 96, 183, 0.28);

}

.select.active{
	right: 0;
}

.select > p{
	margin-top: 10px;
	padding: 0px 5px;
	border-radius: 10px;
	background-color: var(--ligthContainerColor);
	transition: .3s;
	cursor: pointer;
}

.select>p:hover{
	color: #0feab4;
}

.button { 	
	border-radius: 30px;
	font-size: 1em;
	color: white;
	border: none;
	background: linear-gradient(to bottom,
			var(--gradientEnd),
			var(--gradientStart));
	transition: .3s all;
}
.button:hover {
	-webkit-box-shadow: -3px -1px 24px 8px rgba(0, 0, 0, 0.28) inset;
	-moz-box-shadow: -3px -1px 24px 8px rgba(0, 0, 0, 0.28) inset;
	box-shadow: -3px -1px 24px 8px rgba(0, 0, 0, 0.28) inset;
}

.content__item:has(.button){
	justify-content: center;
	height: 100px;
	padding: 10px;
	max-width: 600px;
	margin: 20px;
}	
	
.modal{
	display: none;
	position: absolute;
	justify-content: center;
	align-items: center;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
	cursor: pointer;
}

.modal.active{
	display: flex;
}

.modal-inner{
	position: relative;
	height: 100%;
	width: 100%;
	max-width: 612px;
	max-height: 512px;
	padding: 5px;
}

.button-close{
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 50%;
	border: none;
	color: #f3f4f6;
	outline: none;
	background-color: red;
	display: block;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.modal-inner > .container{
	max-width: 100%;
	border-radius: 20px;
	padding: 20px;
	text-align: center;
	row-gap: 30px;
}

.img-qr{
	width: 70%;
	height: 80%;
	max-width: 350px;
	max-height: 350px;
	background: linear-gradient(to bottom,
				var(--gradientEnd),
				var(--gradientStart));
		
}


@media (max-width:768px) {
	.modal-inner {
		max-width: 412px;
		max-height: 312px;
	}
}